.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-prev:before { content: "\f0069"; }
.icon-next:before { content: "\f006a"; }
.icon-play:before { content: "\e66a"; }
.icon-pause:before { content: "\e76a"; }
.icon-random:before { content: "\e622"; }
.icon-muted:before { content: "\e61e"; }
.icon-volume:before { content: "\e87a"; }
.icon-loop:before { content: "\e66c"; }
.icon-single:before { content: "\e66d"; }